OPENAI_API_KEY=
COHERE_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-2

DB_HOST=postgres
DB_PORT=5432
DB_NAME=jobfit_ai
DB_USER=postgres
DB_PASSWORD=password